body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-image {
      background-image: url("media/banner.jpg");
      background-color: #cccccc;
      height: 310px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
      }       

  .main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .objective-text {
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }


.title-objective{
	padding-top:20px;
	text-align: center;
}
  #section-left {
    width: 49%;
    float: left;
    height: 100%;
    color: rgb(2, 0, 0);
    text-align: center;
    border-right: 1px solid black;
  }

  #section-left .section {
    margin-top: 0%;
    padding: 1em;
  }

  #contact {
    margin-top: 40px;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
  }

  #section-right {
    width: 50%;
    float: right;
    height: 100%;
    
  }

  #section-right .section {
    margin: 0 0 30px 0;
  }

  .wrapper {
    padding: 2em;
  }

  .fa {
    margin-right: 15px;
  }

  .wrapper .title {
    color: black;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
   
  }

  .file {
    padding-left: 1em;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: normal;
  }

  .heading_file {
    padding-left: 0.7em;
  }

  .subdivision {
    padding-left: 1.3em;
  }
  .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #profile_pic{
      height: 20%;
      width: 30%;
      border-radius: 50%;
      border:2px solid #ffffff
    }

  .wrapper-left .title-left {
    color: black;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding-left: 9em;
    padding-top: 1.4em;
    height: 100%;
  }

  td {
      padding: 10px;
  }

  .line1{
      text-align:center;
  }
  .line2{
		text-align: center;
  }

  div.gallery {
    margin: 5px;
    float: right;
    width: 180px;
}


div.gallery img {
    width: 80%;
    height: 15%;
}

.name {
    line-height: 0.10;
    text-align: center;
    padding: 33px;
    color: #ffff;
    font-size:35px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
   }
   .name span {
    display: inline-block;
    position: relative;
   }
   .name span:before,
   .name span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid white;
    width: 600px;
   }
   .name span:before {
    right: 100%;
    margin-right: 15px;
   }
   .name span:after {
    left: 100%;
    margin-left: 15px;
   }